//Solid Colors
$color-orange: #F7941D;
$color-blue: #00AEEF;
$color-dark: #01455F;

//Faded colors

$color-fade-orange: #FDEAD2;
$color-fade-blue: #CCEFFC;
$color-fade-organge-50: #FFFAF4;

//Other Variables
$radius-default: 10px;
$gap-default: 8px;
//Fonts
$font-body: 18px;
$font-heading: 48;



//Overview section

.overview {
    padding: calc($gap-default * 10) 0;
    .container {
        p {
            columns: 2;
            column-gap: calc($gap-default * 10);
            margin-top: calc($gap-default *2);
        }
    }
}

//Values section

.values {
    .container {
        .row {
            .col {
                width: 50%;
                .row {
                    flex-wrap: wrap;
                    gap: calc($gap-default * 3);
                    .col {
                        padding: calc($gap-default *4);
                        width: 48%;
                        height: 90px;
                        border-radius: $radius-default;
                    }
                }
            }

            .values-img {
                img {
                    max-height: 500px;
                    object-fit: cover;
                    border-radius: $radius-default;
                }
            }
        }
    }
}

// new section (unique)
.unique {
    margin: 100px auto;
    .container {
        max-width: 100%;
        background-color: $color-dark;
        h1 {
            color: $color-blue;
        }
        span {
            color: $color-orange;
        }
        
        .row {
            display: flex;
            align-items: flex-start;
            gap: 0;

            .col-text {
                max-width: 30%;
                img {
                    max-width: 100%;
                    max-height: 500px;
                    object-fit: cover;
                }
            }

            .col-2 {
                padding: 50px 100px;
                width: 70%;

                p {
                    color: white;
                }
            }
        } 
    }
}

// added the team section
// our team 
.team {
    
    .container {
        display: flex;
        flex-direction: column;
        gap: calc($gap-default * 2);
        span {
            color: $color-orange;
        }
        .row {
            flex-wrap: wrap;
            .col {
                padding: 12px;
                transition: linear 0.2s;
                img {
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                }
    
                p {
                    color: $color-orange;
                }
    
                &:hover {
                    background-color: rgb(247, 244, 244);
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                    border-radius: $radius-default; 
                }
            }
        }
    }
}

// partners section
.partners{
    margin: 100px auto;
    .container {
        display: grid;
        gap: 18px;
        span {
            color: $color-orange;
        }
    }
}


//Mobile responsive

@media screen and (max-width: 760px) {

    //header
    .page-header {
        height: 300px;

        .container {
            padding-top: 100px;
            p {
                width: 100%;
            }
        }
    }

    //.Overview

    .overview {
        .container {
            p {
                columns: 1;
            }
        }
    }

    //Values section

    .values {
        .container {
            .row {
                flex-direction: column-reverse;

                .col {
                    width: 100%;

                    .row {
                        flex-direction: row;
                        .col {
                            width: 47%;
                            height: 120px;
                        }
                    }
                }

                .values-img {
                    img {
                        height: 250px;
                    }
                }
            }
        }
    }

    .testimonials {
        .container {
            .testimonies {
                flex-direction: column;
                gap: calc($gap-default * 10);
            }
        }
    }
}