//Solid Colors
$color-orange: #F7941D;
$color-blue: #00AEEF;
$color-dark: #01455F;

//Faded colors

$color-fade-orange: #FDEAD2;
$color-fade-blue: #CCEFFC;
$color-fade-organge-50: #FFFAF4;

//Other Variables
$radius-default: 10px;
$gap-default: 8px;
//Fonts
$font-body: 18px;
$font-heading: 48;


//Pagre header

.page-header {
    height: 400px;
    background: url('/static/images/hero-img.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.449);
    background-blend-mode: overlay;
    color: white;
    .container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 150px;
        gap: calc($gap-default *2);

        p {
            width: 50%;
        }
    }
}

//Overview section

.overview {
    padding: calc($gap-default * 10) 0;
    .container {
        p {
            columns: 2;
            column-gap: calc($gap-default * 10);
            margin-top: calc($gap-default *2);
        }
    }
}

//Values section

.values {
    .container {
        .row {
            .col {
                width: 50%;
                .row {
                    flex-wrap: wrap;
                    gap: calc($gap-default * 3);
                    .col {
                        padding: calc($gap-default *4);
                        width: 48%;
                        height: 90px;
                        border-radius: $radius-default;
                    }
                }
            }

            .values-img {
                img {
                    max-height: 500px;
                    object-fit: cover;
                    border-radius: $radius-default;
                }
            }
        }
    }
}

//Testimonials

.testimonials {
    padding: calc($gap-default * 10) 0;
    .container {
        .testimonies {
            padding-top: calc($gap-default * 5);
            .testimony {
                background-color: $color-fade-blue;
                padding: calc($gap-default * 6) calc($gap-default * 3);
                border-radius: $radius-default;
                position: relative;
                text-align: center;

                .t-icon {
                    height: calc($gap-default * 6);
                    width: calc($gap-default * 6);
                    background-color: $color-fade-blue;
                    border-radius: calc($gap-default * 6);
                    align-self: center;
                    position: absolute;
                    top: -22px;

                    i {
                        font-size: calc($gap-default * 6);
                    }
                }

                .t-profile {
                    position: absolute;
                    bottom: -40px;
                    align-self: center;
                    img {
                        height: calc($gap-default * 8);
                        width: calc($gap-default * 8);
                        border-radius: calc($gap-default * 8);
                        object-fit: cover;
                    }
                }
            }
        }
    }
}


//Mobilem responsive

@media screen and (max-width: 760px) {

    //header
    .page-header {
        height: 300px;

        .container {
            padding-top: 100px;
            p {
                width: 100%;
            }
        }
    }

    //.Overview

    .overview {
        .container {
            p {
                columns: 1;
            }
        }
    }

    //Values section

    .values {
        .container {
            .row {
                flex-direction: column-reverse;

                .col {
                    width: 100%;

                    .row {
                        flex-direction: row;
                        .col {
                            width: 47%;
                            height: 120px;
                        }
                    }
                }

                .values-img {
                    img {
                        height: 250px;
                    }
                }
            }
        }
    }

    .testimonials {
        .container {
            .testimonies {
                flex-direction: column;
                gap: calc($gap-default * 10);
            }
        }
    }
}