//Solid Colors
$color-orange: #F7941D;
$color-blue: #00AEEF;
$color-dark: #01455F;

//Faded colors

$color-fade-orange: #FDEAD2;
$color-fade-blue: #CCEFFC;
$color-fade-organge-50: #FFFAF4;

//Other Variables
$radius-default: 10px;
$gap-default: 8px;
//Fonts
$font-body: 18px;
$font-heading: 48;

.check-in-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container {
        max-width: 400px;

        .row {
            .check-in-form {
                .chek-in-form-container {
                    display: grid;
                    gap: calc($gap-default*3);
                }
            }
        }
    }
}