//Solid Colors
$color-orange: #F7941D;
$color-blue: #00AEEF;
$color-dark: #01455F;

//Faded colors

$color-fade-orange: #FDEAD2;
$color-fade-blue: #CCEFFC;
$color-fade-organge-50: #FFFAF4;

//Other Variables
$radius-default: 10px;
$gap-default: 8px;
//Fonts
$font-body: 18px;
$font-heading: 48;


.offer {
    padding: 100px 0 50px 0;
    .container {
        h1 {
            font-size: 25px;
            padding-bottom: 3rem;
        }
        span {
            color: $color-orange;
        }
        .row {
            align-items: stretch;
            .col {
                flex: 1;
                border:1px solid;
                border-bottom: 10px solid transparent;
                padding: 50px;
                border-radius: $radius-default;
            }
            .temprary, .term-to-term {
                border-color: $color-fade-blue;
            }
            .direct-hire {
                border-color: $color-fade-orange;
            }
        }
    }
}

.job-brief {
    .container {
        .row {
            .job {
                display: flex;
                flex-direction: column;
                gap: 24px;
                background-color: $color-dark;
                color: white;
                padding: 50px;
                width: 450px;
                border-radius: $radius-default;

                .certificates {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    .certificate {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        // i {
                        //     color: $color-orange;
                        //     font-size: 24px;
                        // }
                    }
                }
            }
        }
    }
}

.benefits-section {
    margin-bottom: 50px;
    padding: 50px 0;
    .container {
        .row {
            .col {
                width: 50%;
            }
            .col-img {
                position: relative;
                img {
                    max-width: 450px;
                    height: 600px;
                    object-fit: cover;
                    border-radius: $radius-default;
                }

                .image-text {
                    padding: 30px;
                    background-color: $color-fade-orange;
                    border-radius: $radius-default;
                    max-width: 300px;

                    position: absolute;
                    bottom: -50px;
                    left: -30px;
                }
            }
            .col-benefits {
                
                .benefits {
                    margin-top: 50px;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    gap: 20px;

                    .benefit {
                        img {
                            height: 40px;
                            width: 40px;
                        }
                        p {
                            font-size: 32px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.events {
    padding: 50px 0;
    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .row {
            margin-top: 50px;
            align-items: stretch;
            gap: 45px;

            .col {
                padding: 32px;
                border-radius: $radius-default;
                display: flex;
                flex-direction: column;
                gap: 25px;
                .title {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .training, .programs {
                background-color: $color-fade-blue;
                .title {
                    color: $color-blue;
                }

                a {
                    color: $color-blue;
                    text-transform: capitalize;
                }
            }

            .certification {
                background-color: $color-fade-orange;

                .title {
                    color: $color-orange;
                }
                a {
                    color: $color-orange;
                    text-transform: capitalize;
                }
            }

        }
    }
}

.resources-for-employee {
    padding: 50px 0;
    .container {
        display: grid;
        gap: 30px;
        .resources {
            display: flex;
            justify-content: space-between;
            gap: 45px;
            .resource {
                flex: 1;
                display: flex;
                flex-direction: column;
                .recource-content {
                    flex: 1 0 auto;
                    background-color: $color-dark;
                    color: white;
                    padding: 30px;
                    border-radius: $radius-default $radius-default 0 0 ;
                    display: grid;
                    gap: 30px;

                    .resource-list {
                        display: grid;
                        gap: 24px;

                        .list-item {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                        }
                    }
                }
                .read-more {   
                    padding: 30px;
                    background-color: $color-orange;
                    border-radius: 0 0 $radius-default $radius-default ;
                    a {
                        color: white;
                        display: flex;
                        align-items: center;
                        gap: 12px;
                    }
                }
            }
        }
    }
}

// MOBILE VIEW
@media screen and (max-width: 768px) {
    // job briefsection
    .job-brief {
        .container {
            .row {
                display: flex;
                flex-direction: column-reverse;

                .process-col {
                    .process-cards {
                        .card {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    // resources for employee section
    .resources-for-employee {
        .container {
            .resources {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 829px) {
    .offer {
        .container {
            .row {
                flex-direction: column;
            }
        }
    }

    .benefits-section {
        .container {
            .row {
                flex-direction: column-reverse;

                .col {
                    width: 100%;
                }

                .col-benefits {
                    .benefits {
                        display: grid;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    // benefits section
    .benefits-section {
        .container {
            .row {
                .col-benefits {
                    .benefits {
                        grid-template-columns: 60% 60%;
                    }
                }
            }
        }
    }

    // events section
    .events {
        .container {
            .row {
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    // benefits section
    .benefits-section {
        .container {
            .row {
                .col-benefits {
                    
                    .benefits {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        .benefit {
                            text-align: center;
                            padding: 15px auto;
                            p {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}





