.offer {
  padding: 100px 0 50px 0;
}
.offer .container .row .col {
  border: 1px solid;
  border-bottom: 10px solid transparent;
  padding: 50px;
  border-radius: 10px;
}
.offer .container .row .temprary, .offer .container .row .term-to-term {
  border-color: #CCEFFC;
}
.offer .container .row .direct-hire {
  border-color: #FDEAD2;
}

.job-brief .container .row .job {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #01455F;
  color: white;
  padding: 50px;
  width: 450px;
  border-radius: 10px;
}
.job-brief .container .row .job .certificates {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.job-brief .container .row .job .certificates .certificate {
  display: flex;
  align-items: center;
  gap: 12px;
}
.job-brief .container .row .job .certificates .certificate i {
  color: #F7941D;
  font-size: 24px;
}

.benefits-section {
  margin-bottom: 50px;
  padding: 50px 0;
}
.benefits-section .container .row .col {
  width: 50%;
}
.benefits-section .container .row .col-img {
  position: relative;
}
.benefits-section .container .row .col-img img {
  max-width: 450px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.benefits-section .container .row .col-img .image-text {
  padding: 30px;
  background-color: #FDEAD2;
  border-radius: 10px;
  max-width: 300px;
  position: absolute;
  bottom: -50px;
  left: -30px;
}
.benefits-section .container .row .col-benefits .benefits {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}
.benefits-section .container .row .col-benefits .benefits .benefit img {
  height: 40px;
  width: 40px;
}
.benefits-section .container .row .col-benefits .benefits .benefit p {
  font-size: 32px;
  font-weight: bold;
}

.events {
  padding: 50px 0;
}
.events .container .oportunities {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
.events .container .oportunities .opportunity {
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.events .container .oportunities .opportunity .title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.events .container .oportunities .opportunity .title img {
  width: 40px;
  height: 40px;
}
.events .container .oportunities .training, .events .container .oportunities .programs {
  background-color: #CCEFFC;
}
.events .container .oportunities .training .title, .events .container .oportunities .programs .title {
  color: #00AEEF;
}
.events .container .oportunities .certification {
  background-color: #FDEAD2;
}
.events .container .oportunities .certification .title {
  color: #F7941D;
}

.resources-for-employee {
  padding: 50px 0;
}
.resources-for-employee .container {
  display: grid;
  gap: 30px;
}
.resources-for-employee .container .resources {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
.resources-for-employee .container .resources .resource {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.resources-for-employee .container .resources .resource .recource-content {
  flex: 1 0 auto;
  background-color: #01455F;
  color: white;
  padding: 30px;
  border-radius: 10px 10px 0 0;
  display: grid;
  gap: 30px;
}
.resources-for-employee .container .resources .resource .recource-content .resource-list {
  display: grid;
  gap: 24px;
}
.resources-for-employee .container .resources .resource .recource-content .resource-list .list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.resources-for-employee .container .resources .resource .read-more {
  padding: 30px;
  background-color: #F7941D;
  border-radius: 0 0 10px 10px;
}
.resources-for-employee .container .resources .resource .read-more a {
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}/*# sourceMappingURL=for-employees.css.map */