@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Mulish:wght@700&display=swap");
.service-section {
  padding: 80px 0;
}
.service-section .container .row .col {
  width: 50%;
}
.service-section .container .row .col .row {
  display: flex;
  flex-wrap: wrap;
}
.service-section .container .row .col .row .service {
  padding: 56px;
  width: 46%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.service-section .container .row .col .row .service img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.disciplines {
  position: relative;
}
.disciplines .container {
  max-width: 100%;
  background-color: #01455F;
  max-height: 600px;
}
.disciplines .container span {
  color: #F7941D;
}
.disciplines .container .row {
  display: flex;
  align-items: flex-start;
  gap: 0;
}
.disciplines .container .row .col-title {
  width: 40%;
  color: white;
  padding: 50px;
}
.disciplines .container .row .col-title h1 {
  width: 50%;
  padding-bottom: 80px;
}
.disciplines .container .row .col-title p {
  width: 60%;
  padding-bottom: 16px;
}
.disciplines .container .row .col-title .line {
  border: 1px solid #F7941D;
  width: 6.5rem;
}
.disciplines .container .row .col-img {
  width: 60%;
}
.disciplines .container .row .col-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
}

.row-under .container {
  background-color: rgba(255, 255, 255, 0.888);
  position: absolute;
  margin-top: -33rem;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  padding: 20px 20px;
  margin-left: 25rem;
}
.row-under .container .col {
  flex-basis: calc(33.33% - 20px);
}
.row-under .container .col .color-blue {
  color: #00AEEF;
}
.row-under .container .col .color-orange {
  color: #F7941D;
}
.row-under .container .col .icon-blue {
  color: #00AEEF;
}
.row-under .container .col .icon-orange {
  color: #F7941D;
}
.row-under .container .col .icon {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .service-section .container .row {
    flex-direction: column;
  }
  .service-section .container .row .col {
    width: 100%;
  }
  .service-section .container .row .col .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
  }
}
@media screen and (max-width: 540px) {
  .service-section .container .row .col .row {
    width: 100%;
  }
  .service-section .container .row .col .row .service {
    width: 20rem;
  }
  .row-under .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .disciplines .container {
    background: transparent;
    height: 100px;
  }
  .disciplines .container .row {
    width: 100%;
  }
  .disciplines .container .row .col-img {
    display: none;
  }
  .disciplines .container .row .col-title {
    color: #01455F;
    width: 100%;
  }
  .disciplines .container .row .col-title h1 {
    width: 100%;
    padding-bottom: 0;
  }
  .disciplines .container .row .col-title p {
    width: 100%;
  }
  .row-under {
    background-color: #FFFAF4;
    width: 100%;
  }
  .row-under .container {
    margin-top: 15rem;
    margin-left: 2rem;
    margin-right: 5rem;
    position: relative;
    background-color: #FFFAF4;
    width: 100%;
  }
}/*# sourceMappingURL=for-emplyers.css.map */