//Solid Colors
$color-orange: #F7941D;
$color-blue: #00AEEF;
$color-dark: #01455F;

//Faded colors

$color-fade-orange: #FDEAD2;
$color-fade-blue: #CCEFFC;
$color-fade-organge-50: #FFFAF4;

//Other Variables
$radius-default: 10px;
$gap-default: 8px;
//Fonts
$font-body: 18px;
$font-heading: 48;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Mulish:wght@700&display=swap');

.service-section {
    padding: calc($gap-default * 10) 0;
    .container {
        .row {
            .col {
                width: 50%;
            }
            .col {
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    .service {
                        padding: calc($gap-default * 7);
                        width: 46%;
                        border-radius: $radius-default;
                        display: flex;
                        align-items: center;
                        gap: $gap-default;

                        img {
                            height: 50px;
                            width: 50px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}


// new sections added 
// our disciplines
.disciplines {
    position: relative;
    .container {
        max-width: 100%;
        background-color: $color-dark;
        max-height: 600px;

        span {
            color: $color-orange;
        }

        .row {
            display: flex;
            align-items: flex-start;
            gap: 0;
            .col-title {
                width: 40%;
                color: white;
                padding: 50px;

                h1 {
                    width: 50%;
                    padding-bottom: calc($gap-default * 10);
                }

                p {
                    width: 60%;
                    padding-bottom: 16px;
                }

                .line {
                    border: 1px solid $color-orange;
                    width: 6.5rem;
                }
            }

            .col-img {
                width: 60%;

                img {
                    object-fit: cover;
                    height: 600px;
                }
            }
        }
    }
}

// under row section 
.row-under {
    background-color: rgba(255, 255, 255, 0.888);
    position: absolute;
    margin-top: -33rem;
    display: flex;
    justify-content: flex-start;
    gap: calc($gap-default * 3);
    flex-wrap: wrap;
    align-items: center;
    max-width: 50%;
    border-radius: $radius-default;
    padding: 20px 20px;
    margin-left: 25rem;

    .col {
        flex-basis: calc(calc(33.33% - 20px));

        
        .color-blue {
            color: $color-blue;
        }

        .color-orange {
            color: $color-orange;
        }

        // icon colors 
        .icon-blue {
            color: $color-blue;
        }
        .icon-orange {
            color: $color-orange;
        }

        .icon {
            font-size: 2rem;
        }
    }
} 





