.offer {
  padding: 100px 0 50px 0;
}
.offer .container h1 {
  font-size: 25px;
  padding-bottom: 3rem;
}
.offer .container span {
  color: #F7941D;
}
.offer .container .row {
  align-items: stretch;
}
.offer .container .row .col {
  flex: 1;
  border: 1px solid;
  border-bottom: 10px solid transparent;
  padding: 50px;
  border-radius: 10px;
}
.offer .container .row .temprary, .offer .container .row .term-to-term {
  border-color: #CCEFFC;
}
.offer .container .row .direct-hire {
  border-color: #FDEAD2;
}

.job-brief .container .row .job {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #01455F;
  color: white;
  padding: 50px;
  width: 450px;
  border-radius: 10px;
}
.job-brief .container .row .job .certificates {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.job-brief .container .row .job .certificates .certificate {
  display: flex;
  align-items: center;
  gap: 12px;
}

.benefits-section {
  margin-bottom: 50px;
  padding: 50px 0;
}
.benefits-section .container .row .col {
  width: 50%;
}
.benefits-section .container .row .col-img {
  position: relative;
}
.benefits-section .container .row .col-img img {
  max-width: 450px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.benefits-section .container .row .col-img .image-text {
  padding: 30px;
  background-color: #FDEAD2;
  border-radius: 10px;
  max-width: 300px;
  position: absolute;
  bottom: -50px;
  left: -30px;
}
.benefits-section .container .row .col-benefits .benefits {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}
.benefits-section .container .row .col-benefits .benefits .benefit img {
  height: 40px;
  width: 40px;
}
.benefits-section .container .row .col-benefits .benefits .benefit p {
  font-size: 32px;
  font-weight: bold;
}

.events {
  padding: 50px 0;
}
.events .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.events .container .row {
  margin-top: 50px;
  align-items: stretch;
  gap: 45px;
}
.events .container .row .col {
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.events .container .row .col .title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.events .container .row .col .title img {
  width: 40px;
  height: 40px;
}
.events .container .row .training, .events .container .row .programs {
  background-color: #CCEFFC;
}
.events .container .row .training .title, .events .container .row .programs .title {
  color: #00AEEF;
}
.events .container .row .training a, .events .container .row .programs a {
  color: #00AEEF;
  text-transform: capitalize;
}
.events .container .row .certification {
  background-color: #FDEAD2;
}
.events .container .row .certification .title {
  color: #F7941D;
}
.events .container .row .certification a {
  color: #F7941D;
  text-transform: capitalize;
}

.resources-for-employee {
  padding: 50px 0;
}
.resources-for-employee .container {
  display: grid;
  gap: 30px;
}
.resources-for-employee .container .resources {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
.resources-for-employee .container .resources .resource {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.resources-for-employee .container .resources .resource .recource-content {
  flex: 1 0 auto;
  background-color: #01455F;
  color: white;
  padding: 30px;
  border-radius: 10px 10px 0 0;
  display: grid;
  gap: 30px;
}
.resources-for-employee .container .resources .resource .recource-content .resource-list {
  display: grid;
  gap: 24px;
}
.resources-for-employee .container .resources .resource .recource-content .resource-list .list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.resources-for-employee .container .resources .resource .read-more {
  padding: 30px;
  background-color: #F7941D;
  border-radius: 0 0 10px 10px;
}
.resources-for-employee .container .resources .resource .read-more a {
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .job-brief .container .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .job-brief .container .row .process-col .process-cards .card {
    width: 100%;
  }
  .resources-for-employee .container .resources {
    flex-direction: column;
  }
}
@media screen and (max-width: 829px) {
  .offer .container .row {
    flex-direction: column;
  }
  .benefits-section .container .row {
    flex-direction: column-reverse;
  }
  .benefits-section .container .row .col {
    width: 100%;
  }
  .benefits-section .container .row .col-benefits .benefits {
    display: grid;
  }
}
@media screen and (max-width: 1024px) {
  .benefits-section .container .row .col-benefits .benefits {
    grid-template-columns: 60% 60%;
  }
  .events .container .row {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 540px) {
  .benefits-section .container .row .col-benefits .benefits {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .benefits-section .container .row .col-benefits .benefits .benefit {
    text-align: center;
    padding: 15px auto;
  }
  .benefits-section .container .row .col-benefits .benefits .benefit p {
    font-size: 20px;
  }
}/*# sourceMappingURL=for-employees.css.map */