//Solid Colors
$color-orange: #F7941D;
$color-blue: #00AEEF;
$color-dark: #01455F;

//Faded colors

$color-fade-orange: #FDEAD2;
$color-fade-blue: #CCEFFC;
$color-fade-organge-50: #FFFAF4;

//Other Variables
$radius-default: 10px;
$gap-default: 8px;
//Fonts
$font-body: 18px;
$font-heading: 48;


//Index

.hero {
    height: 60vh;
    position: relative;

    .container {
        .row {
            .col {
                padding-top: 150px;
                width: 50%;
            }

            .right-img {
                width: 50%;

                .hero-img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 45%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.why {
    background-color: $color-fade-organge-50;
    padding: calc($gap-default * 10) 0;

    .container {
        .row {
            .col {
                width: 50%;
            }

            .why-img {
                img {
                    max-width: 600px;
                    border-radius: $gap-default;
                }
            }
        }
    }
}

// changed the font weight of the first paragraph above the row
.candidates {
    padding: calc($gap-default * 10) 0;

    .container {
        p {
            margin-top: calc($gap-default * 2);
        }

        .heading-paragraph {
            font-weight: bold;
        }

        .row {
            margin-top: calc($gap-default * 4);

            .col {
                padding: calc($gap-default * 4);
                border-radius: $radius-default;
            }
        }
    }
}

.skills {
    .container {
        .row {
            .col {
                width: 50%;
            }

            .skills-img {
                img {
                    max-width: 600px;
                    max-height: 500px;
                    object-fit: cover;
                    border-radius: $radius-default;
                }
            }
        }
    }
}


.call-to-action {
    .container {
        background-color: $color-blue;
        padding: calc($gap-default * 10);
        margin-bottom: calc($gap-default * 10);
        color: $color-dark;
        border-radius: $radius-default;

        .line {
            border: 1px solid $color-dark;
            height: 10rem;
        }

        .title {
            h3 {
                font-size: 24px;
                font-weight: bold;
            }
        }
        .cta-text {
            p {
                font-weight: light;
            }
        }
        a {
            button {
                background-color: $color-dark;
                border: transparent;
                color: $color-blue;
                width: 10rem;
            }

            button:hover {
                background: transparent;
                color: $color-dark;
                border: 1px solid $color-dark;
            }
        }
    }
}

// added a new section(our partner institution)
.our-partners-institutions {
    background-color: $color-fade-organge-50;
    padding: calc($gap-default * 10) 0;

    .container {
        span {
            color: $color-orange;
        }
        .row {
            padding: 12px 0;
            .col {
                background-color: white;
                border-radius: $radius-default;
                max-width: 364px;
                gap: calc($gap-default * 3);
                
                h2 {
                    font-size: 18px;
                    padding: 12px;
                }
                
                img {
                    border-top-right-radius: $radius-default;
                    border-top-left-radius: $radius-default;
                    max-width: 364px;
                    object-fit: cover;
                }

                .address {
                    display: flex;
                    flex-direction: column;
                    gap: $gap-default;
                    padding: 12px;

                    .icon {
                        color: $color-orange;
                    }

                    .location {
                        display: flex;
                        align-items: center;
                        gap: $gap-default;
                    }

                    .phone {
                        display: flex;
                        align-items: center;
                        gap: $gap-default;
                    }

                }
            }
        }
    }
}

//Mobile

@media screen and (max-width: 760px) {

    .hero {
        background: url('/static/images/hero-img.png');
        height: 650px;
        background-color: rgba(0, 0, 0, 0.537);
        background-blend-mode: overlay;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        color: white;
        .container {
            .row {
                .right-img {
                    display: none;
                }

                .col {
                    width: 100%;
                }
            }
        }
    }

    .why {
        .container {
            .row {
                flex-direction: column;
                .col {
                    width: 100%;
                }
            }
        }
    }

    .candidates {
        .container {
            .row {
                flex-wrap: wrap;
                gap: calc($gap-default * 2);
                .col {
                    width: 48%;
                    height: 130px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;

                    padding: calc($gap-default * 2);

                }
            }
        }
    }

    .skills {
        .container {
            .row {
                flex-direction: column-reverse;
                .col {
                    width: 100%;
                }

                .skills-img {
                    img {
                        height: 250px;
                    }
                }
            }
        }
    }

    .process {
        .container {
            .row {
                flex-direction: column;
                .col {
                    width: 100%;

                    .process-cards {
                        flex-wrap: nowrap;
                        flex-direction: column;

                        .card {
                            width: 100%;
                        }
                    }
                }
                .process-img {
                    display: none;
                }
            }
        }
    }

    .call-to-action {
        padding: calc($gap-default *2 );

        .container {
            padding: calc($gap-default * 5);
        }

        .row {
            flex-direction: column;
            gap: calc($gap-default * 3);
            .line {
                display: none;
            }
        }
    }
}

