.hero {
  height: 60vh;
  position: relative;
}
.hero .container .row .col {
  padding-top: 150px;
  width: 50%;
}
.hero .container .row .right-img {
  width: 50%;
}
.hero .container .row .right-img .hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why {
  background-color: #FFFAF4;
  padding: 80px 0;
}
.why .container .row .col {
  width: 50%;
}
.why .container .row .why-img img {
  max-width: 600px;
  border-radius: 8px;
}

.candidates {
  padding: 80px 0;
}
.candidates .container p {
  margin-top: 16px;
}
.candidates .container .heading-paragraph {
  font-weight: bold;
}
.candidates .container .row {
  margin-top: 32px;
}
.candidates .container .row .col {
  padding: 32px;
  border-radius: 10px;
}

.skills .container .row .col {
  width: 50%;
}
.skills .container .row .skills-img img {
  max-width: 600px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.call-to-action .container {
  background-color: #00AEEF;
  padding: 80px;
  margin-bottom: 80px;
  color: #01455F;
  border-radius: 10px;
}
.call-to-action .container .line {
  border: 1px solid #01455F;
  height: 10rem;
}
.call-to-action .container .title h3 {
  font-size: 24px;
  font-weight: bold;
}
.call-to-action .container .cta-text p {
  font-weight: light;
}
.call-to-action .container a button {
  background-color: #01455F;
  border: transparent;
  color: #00AEEF;
  width: 10rem;
}
.call-to-action .container a button:hover {
  background: transparent;
  color: #01455F;
  border: 1px solid #01455F;
}

.our-partners-institutions {
  background-color: #FFFAF4;
  padding: 80px 0;
}
.our-partners-institutions .container span {
  color: #F7941D;
}
.our-partners-institutions .container .row {
  padding: 12px 0;
}
.our-partners-institutions .container .row .col {
  background-color: white;
  border-radius: 10px;
  max-width: 364px;
  gap: 24px;
}
.our-partners-institutions .container .row .col h2 {
  font-size: 18px;
  padding: 12px;
}
.our-partners-institutions .container .row .col img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 364px;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-partners-institutions .container .row .col .address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}
.our-partners-institutions .container .row .col .address .icon {
  color: #F7941D;
}
.our-partners-institutions .container .row .col .address .location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.our-partners-institutions .container .row .col .address .phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 760px) {
  .hero {
    background: url("/static/images/hero-img.png");
    height: 650px;
    background-color: rgba(0, 0, 0, 0.537);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .hero .container .row .right-img {
    display: none;
  }
  .hero .container .row .col {
    width: 100%;
  }
  .why .container .row {
    flex-direction: column;
  }
  .why .container .row .col {
    width: 100%;
  }
  .candidates .container .row {
    flex-wrap: wrap;
    gap: 16px;
  }
  .candidates .container .row .col {
    width: 48%;
    height: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 16px;
  }
  .skills .container .row {
    flex-direction: column-reverse;
  }
  .skills .container .row .col {
    width: 100%;
  }
  .skills .container .row .skills-img img {
    height: 250px;
  }
  .process .container .row {
    flex-direction: column;
  }
  .process .container .row .col {
    width: 100%;
  }
  .process .container .row .col .process-cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .process .container .row .col .process-cards .card {
    width: 100%;
  }
  .process .container .row .process-img {
    display: none;
  }
  .call-to-action {
    padding: 16px;
  }
  .call-to-action .container {
    padding: 40px;
  }
  .call-to-action .row {
    flex-direction: column;
    gap: 24px;
  }
  .call-to-action .row .line {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */