//Solid Colors
$color-orange: #F7941D;
$color-blue: #00AEEF;
$color-dark: #01455F;

//Faded colors

$color-fade-orange: #FDEAD2;
$color-fade-blue: #CCEFFC;
$color-fade-organge-50: #FFFAF4;

//Other Variables
$radius-default: 10px;
$gap-default: 8px;
//Fonts
$font-body: 18px;
$font-heading: 48;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Mulish:wght@200;400;700&display=swap');
//Basic setup
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: $color-dark;
}

a {
    text-decoration: none;
    color: $color-dark;
}

li {
    list-style: none;
    font-size: 18px;
}

.heading {
    font-family: 'Mulish', sans-serif;
    font-size: 48px;
}

.title {
    font-size: 24px;
    font-weight: bolder;
}

//Button

button {
    padding: 12px calc($gap-default * 4);
    font-size: $font-body;
    border-radius: $radius-default;
    border: 1px solid transparent;
    transition: linear 0.2s;
}

.bnt-white {
    background-color: white;
    color: $color-dark;
    border: 1px solid white;

    &:hover {
        background-color: $color-dark;
        color: white;

    }
}

.btn-blue {
    background-color: $color-dark;
    color: white;
    border: 1px solid $color-dark;

    &:hover {
        background-color: white;
        color: $color-dark;
    }
}

.btn-orange {
    background-color: $color-orange;
    color: $color-dark;
    border: 1px solid $color-orange;

    &:hover {
        background-color: white;
        color: $color-dark;
        border: 1px solid $color-dark;
    }
}

.btn-outline {
    background-color: transparent;
    color: $color-dark;
    border: 1px solid $color-dark;

    &:hover {
        background-color: $color-dark;
        color: white;
    }
}

.container {
    max-width: 1280px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc($gap-default * 6);
}

.col {
    display: flex;
    flex-direction: column;
    gap: calc($gap-default * 2);
}

.span-orange {
    color: $color-orange;
}

.span-blue {
    color: $color-blue;
}


img {
    width: 100%;
}

.fade-orange {
    background-color: $color-fade-orange;
}
.fade-orange-inverse {
    background-color: $color-fade-orange
}

.fade-blue {
    background-color: $color-fade-blue;
}

.fade-blue-reverse {
    background-color: $color-fade-blue;
}

.back-orange {
    background-color: $color-orange
}

.back-blue {
    background-color: $color-blue;
}

.back-blue-reverse {
    background-color: $color-blue;
}


.social-icons {
    display: flex;
    align-items: center;
    gap: calc($gap-default *2);

    a {
        background-color: $color-dark;
        height: calc($gap-default * 4);
        width: calc($gap-default * 4);

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: calc($radius-default / 2);

        i {
            color: white;
        }
    }
}

//Pagre header

.page-header {
    height: 400px;
    background: url('/static/images/hero-img.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.449);
    background-blend-mode: overlay;
    color: white;
    .container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 150px;
        gap: calc($gap-default *2);

        p {
            width: 50%;
        }
    }
}

//Navigation

header {
    .topnav {
        height: 56px;
        background-color: $color-orange;
        padding-top: 12px;
        .row {
            max-width: 1280px;

            .contacts {
                display: flex;
                gap: calc($gap-default *3);
                align-items: center;
                a {
                    display: flex;
                    gap: $gap-default;
                    align-items: center;
                }
            }

        }
    }

    nav {
        .row {
            height: 100px;
            gap: calc( $gap-default * 3);
            .col {
                flex-direction: row;

                .menu-items, .cta-buttons {
                    display: flex;
                    align-items: center;
                    gap: calc($gap-default * 3);
                }
                .mobile-menu-btn {
                    display: none;
                }
            }
        }
    }
}


//Testimonials

.testimonials {
    padding: calc($gap-default * 10) 0;
    .container {
        .testimonies {
            padding-top: calc($gap-default * 5);
            .testimony {
                background-color: $color-fade-blue;
                padding: calc($gap-default * 6) calc($gap-default * 3);
                border-radius: $radius-default;
                position: relative;
                text-align: center;

                .t-icon {
                    height: calc($gap-default * 6);
                    width: calc($gap-default * 6);
                    background-color: $color-fade-blue;
                    border-radius: calc($gap-default * 6);
                    align-self: center;
                    position: absolute;
                    top: -22px;

                    i {
                        font-size: calc($gap-default * 6);
                    }
                }

                .t-profile {
                    position: absolute;
                    bottom: -40px;
                    align-self: center;
                    img {
                        height: calc($gap-default * 8);
                        width: calc($gap-default * 8);
                        border-radius: calc($gap-default * 8);
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

//Process

.process {
    padding: calc($gap-default * 10) 0;

    .container {
        .row {
            .process-col {
                width: 50%;

                .process-cards {
                    display: flex;
                    flex-wrap: wrap;
                    gap: calc($gap-default * 4);

                    .card {
                        margin-top: calc($gap-default);
                        padding: calc($gap-default * 4);
                        border-radius: $radius-default;
                        width: 45%;
                        position: relative;
                        .card-badge {
                            width: calc($gap-default * 5);
                            height: calc($gap-default * 5);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: calc($radius-default /2);

                            position: absolute;
                            top: calc($gap-default * -1);
                            left: calc($gap-default * -1);
                        }
                    }
                }
            }

            .process-img {
                img {
                    max-width: 600px;
                    height: 500px;
                    object-fit: cover;
                    border-radius: $radius-default;
                }
            }
        }
    }
}

//Form

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 35px;
        padding-right: 35px;
        border-radius: $radius-default;
        border: 1px solid $color-dark;

        &::placeholder {
            font-size: 16px;
            color: $color-dark;
        }
    }

    input[type=submit] {
        width: 50%;
        background-color: $color-orange;
        border-radius: $radius-default;
        border: none;
        font-size: 18px;
        color: $color-dark;

        transition: linear 0.25s;

        &:hover {
            background-color: $color-dark;
            color: $color-orange;
        }
    }
}

// Top bar responsiveness

    //Mobile 540px
@media screen and (max-width: 1100px) {
header {
    .topnav {
        .row {
            .contacts {
                .top-bar-email {
                    display: none;
                }
            }
        }
    }
}    
}

//Mobile 540px
@media screen and (max-width: 700px) {
header {
    .topnav {
        .row {
            .contacts {
                .top-bar-location, .top-bar-email {
                    display: none;
                }
            }
        }
    }
}    
}

//Nav bard respinsiveness
//Mobile 540px
@media screen and (max-width: 1000px) {
    header {
        nav {
            .row {
                .col {
                    .menu-items {
                        display: none;
                    }

                    .cta-buttons {
                        display: none;
                    }

                    .mobile-menu-btn {
                        display: block;
                        i {
                            font-size: calc($gap-default* 5);
                        }
                    }
                } 
            }
        }
    }    
}

//Footer

footer {
    background-color: $color-dark;
    color: white;
    padding: calc($gap-default * 10);

    a {
        color: white;
    }

    .row {
        align-items: flex-start;
    }

    .footer-title {
        font-size: 18px;
    }

    .footer-links {
        margin-top: calc($gap-default * 2);
        display: flex;
        flex-direction: column;
        gap: $gap-default;
        
        .footer-link {
            a {
                font-size: 16px;
                font-weight: lighter;
            }
        }
    }

    .footer-bottom {
        margin-top: calc($gap-default * 3);
        padding-top: calc($gap-default * 3);
        border-top: 1px solid rgba(255, 255, 255, 0.459);
        font-weight: lighter;
        .follow {
            display: flex;
            align-items: center;
            gap: calc($gap-default * 4);
            .social-icons {
                a {
                    background-color: $color-orange;
                }
            }

        }
        
    }
}

//Footer responsive

@media screen and(max-width: 740px) {
    footer {
        padding: calc($gap-default * 6) calc($gap-default * 2);
        .row {
            flex-wrap: wrap;
    
            .col {
                display: block;
                width: 40%;
    
                .footer-title {
                    font-size: 16px;
                }
    
                .footer-links {
                    .footer-link {
                        a {
                            font-size: 12px;
                        }
                    }
                }
            }
    
        }
    }
}

@media screen and (max-width: 1300px) {
    .container {
        padding: 0 calc($gap-default * 7);
    }
}

@media screen and (max-width: 540px) {
    .container {
        padding: 0 calc($gap-default * 2);
    }

    .heading {
        font-size: 32px;
    }

    .heading-hero {
        font-size: 48px;
    }

    .back-blue-reverse {
        background-color: $color-blue;
    }

    .fade-orange-inverse {
        background-color: $color-fade-blue
    }
    .fade-blue-reverse {
        background-color: $color-fade-orange;
    }
}