@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Mulish:wght@200;400;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #01455F;
}

a {
  text-decoration: none;
  color: #01455F;
  cursor: pointer;
}

li {
  list-style: none;
  font-size: 18px;
}

.heading {
  font-family: "Mulish", sans-serif;
  font-size: 48px;
}

.title {
  font-size: 24px;
  font-weight: bolder;
}

button {
  padding: 12px 32px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: linear 0.2s;
  cursor: pointer;
}

.bnt-white {
  background-color: white;
  color: #01455F;
  border: 1px solid white;
}
.bnt-white:hover {
  background-color: #01455F;
  color: white;
}

.btn-blue {
  background-color: #00AEEF;
  color: white;
  border: 1px solid #00AEEF;
}
.btn-blue:hover {
  background-color: white;
  color: #01455F;
}

.btn-orange {
  background-color: #F7941D;
  color: #01455F;
  border: 1px solid #F7941D;
}
.btn-orange:hover {
  background-color: white;
  color: #01455F;
  border: 1px solid #01455F;
}

.btn-outline {
  background-color: transparent;
  color: #01455F;
  border: 1px solid #00AEEF;
}
.btn-outline:hover {
  background-color: #00AEEF;
  color: white;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.span-orange {
  color: #F7941D;
}

.span-blue {
  color: #00AEEF;
}

img {
  width: 100%;
}

.fade-orange {
  background-color: #FDEAD2;
}

.fade-orange-inverse {
  background-color: #FDEAD2;
}

.fade-blue {
  background-color: #CCEFFC;
}

.fade-blue-reverse {
  background-color: #CCEFFC;
}

.back-orange {
  background-color: #F7941D;
}

.back-blue {
  background-color: #00AEEF;
}

.back-blue-reverse {
  background-color: #00AEEF;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social-icons a {
  background-color: #01455F;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.social-icons a i {
  color: white;
}

.page-header {
  height: 400px;
  background: url("/static/images/hero-img.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.449);
  background-blend-mode: overlay;
  color: white;
}
.page-header .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 150px;
  gap: 16px;
}
.page-header .container p {
  width: 50%;
}

header .topnav {
  height: 56px;
  background-color: #F7941D;
  padding-top: 12px;
}
header .topnav .row {
  max-width: 1280px;
}
header .topnav .row .contacts {
  display: flex;
  gap: 24px;
  align-items: center;
}
header .topnav .row .contacts a {
  display: flex;
  gap: 8px;
  align-items: center;
}
header nav .row {
  height: 100px;
  gap: 24px;
}
header nav .row .col {
  flex-direction: row;
}
header nav .row .col .menu-items, header nav .row .col .cta-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav .row .col .nav-btn {
  font-size: 24px;
  display: none;
  cursor: pointer;
  transition: linear 0.2s;
}
header .fixed-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #F7941D;
  color: #01455F;
}
header .fixed-nav .row .col .logo {
  display: none;
}
header .fixed-nav .row .col .menu-items, header .fixed-nav .row .col .cta-buttons {
  flex-direction: column;
  gap: 80px;
}
header .fixed-nav .row .col .nav-toggle {
  display: none;
}
header .fixed-nav .row .col .close-btn {
  display: block;
  top: 0;
  right: 0;
}
header .fixed-nav .row .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20rem;
}

.testimonials {
  padding: 80px 0;
}
.testimonials .container .testimonies {
  padding-top: 40px;
}
.testimonials .container .testimonies .testimony {
  background-color: #CCEFFC;
  padding: 48px 24px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
.testimonials .container .testimonies .testimony .t-icon {
  height: 48px;
  width: 48px;
  background-color: #CCEFFC;
  border-radius: 48px;
  align-self: center;
  position: absolute;
  top: -22px;
}
.testimonials .container .testimonies .testimony .t-icon i {
  font-size: 48px;
}
.testimonials .container .testimonies .testimony .t-profile {
  position: absolute;
  bottom: -40px;
  align-self: center;
}
.testimonials .container .testimonies .testimony .t-profile img {
  height: 64px;
  width: 64px;
  border-radius: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}

.process {
  padding: 80px 0;
}
.process .container .row .process-col {
  width: 50%;
}
.process .container .row .process-col .process-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.process .container .row .process-col .process-cards .card {
  margin-top: 8px;
  padding: 32px;
  border-radius: 10px;
  width: 45%;
  position: relative;
}
.process .container .row .process-col .process-cards .card .card-badge {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: -8px;
  left: -8px;
}
.process .container .row .process-img img {
  max-width: 600px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form input {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  border: 1px solid #01455F;
}
form input::-moz-placeholder {
  font-size: 16px;
  color: #01455F;
}
form input::placeholder {
  font-size: 16px;
  color: #01455F;
}
form input[type=submit] {
  width: 50%;
  background-color: #F7941D;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: #01455F;
  transition: linear 0.25s;
}
form input[type=submit]:hover {
  background-color: #01455F;
  color: #F7941D;
}

.call-to-action .container {
  background-color: #00AEEF;
  padding: 40px;
  margin-bottom: 80px;
  color: #01455F;
  border-radius: 10px;
}
.call-to-action .container .line {
  border: 1px solid #01455F;
  height: 10rem;
}
.call-to-action .container .title h3 {
  font-size: 24px;
  font-weight: bold;
}
.call-to-action .container .cta-text p {
  font-weight: light;
}
.call-to-action .container a button {
  background-color: #01455F;
  border: transparent;
  color: #00AEEF;
  width: 10rem;
}
.call-to-action .container a button:hover {
  background: transparent;
  color: #01455F;
  border: 1px solid #01455F;
}

@media screen and (max-width: 1100px) {
  header .topnav .row .contacts .top-bar-email {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  header .topnav .row .contacts .top-bar-location, header .topnav .row .contacts .top-bar-email {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  header nav .row .col .menu-items {
    display: none;
  }
  header nav .row .col .cta-buttons {
    display: none;
  }
  header nav .row .col .nav-toggle {
    display: block;
  }
}
footer {
  background-color: #01455F;
  color: white;
  padding: 80px;
}
footer a {
  color: white;
}
footer .row {
  align-items: flex-start;
}
footer .footer-title {
  font-size: 18px;
}
footer .footer-links {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-links .footer-link a {
  font-size: 16px;
  font-weight: lighter;
}
footer .footer-bottom {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.459);
  font-weight: lighter;
}
footer .footer-bottom .follow {
  display: flex;
  align-items: center;
  gap: 32px;
}
footer .footer-bottom .follow .social-icons a {
  background-color: #F7941D;
}

@media screen and (max-width: 740px) {
  footer {
    padding: 48px 16px;
  }
  footer .row {
    flex-wrap: wrap;
  }
  footer .row .col {
    display: block;
    width: 40%;
  }
  footer .row .col .footer-title {
    font-size: 16px;
  }
  footer .row .col .footer-links .footer-link a {
    font-size: 12px;
  }
  .call-to-action {
    padding: 16px;
  }
  .call-to-action .container {
    padding: 40px;
  }
  .call-to-action .row {
    flex-direction: column;
    gap: 24px;
  }
  .call-to-action .row .line {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    padding: 0 56px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    padding: 0 16px;
  }
  .heading {
    font-size: 32px;
  }
  .heading-hero {
    font-size: 48px;
  }
  .back-blue-reverse {
    background-color: #00AEEF;
  }
  .fade-orange-inverse {
    background-color: #CCEFFC;
  }
  .fade-blue-reverse {
    background-color: #FDEAD2;
  }
}
@media screen and (max-width: 848px) {
  .process .container .row {
    flex-direction: column-reverse;
  }
  .process .container .row .process-col {
    width: 100%;
  }
  .testimonials .container .row {
    display: flex;
    flex-direction: column;
  }
  .testimonials .container .row .col {
    margin: 12px auto;
  }
}/*# sourceMappingURL=main.css.map */